html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5px;
 }
    img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
